BasedOnStyle: LLVM

UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

PointerAlignment: Right
AlignTrailingComments: true
ReflowComments: false
SortIncludes: Never
InsertNewlineAtEOF: true
